{%- set datamap = salt['formhelper.get_defaults']('mysql', saltenv, ['yaml'])['yaml'] -%}
{%- set comp_type = datamap['type'] -%}
{%- set comp_data = datamap[comp_type]|default({}) -%}
{%- set config = comp_data.server.config.my.config|default({}) -%}

{{- config.file_prepend|default('') -}}

{%- for comp, comp_groups in config.sections|default({})|dictsort %}
{{ '\n[' ~ comp ~ ']' }}
  {%- for group in comp_groups %}
# {{ group.name|default('no comment heeere') -}}
    {%- for gkey, gval in group|dictsort if gkey != 'name' %}
{{ gkey }} = {{ gval }}
    {%- endfor -%}{{- '\n' -}}
  {%- endfor -%}
{%- endfor -%}

{{- '\n' ~ config.file_append|default('') -}}
