{{- config.file_prepend|default('') -}}

{%- for comp, comp_groups in config.sections|default({})|dictsort %}
{{ '\n[' ~ comp ~ ']' }}
  {%- for group in comp_groups %}
# {{ group.name|default('The following is just another section. You better specify a name for it ;)') -}}
    {%- for gkey, gval in group|dictsort if gkey != 'name' %}
{{ gkey }} = {{ gval }}
    {%- endfor -%}{{- '\n' -}}
  {%- endfor -%}
{%- endfor -%}

{{- '\n' ~ config.file_append|default('') -}}
