{%- from "mysql/defaults.yaml" import rawmap with context -%}
{%- set datamap = salt['grains.filter_by'](rawmap, merge=salt['pillar.get']('mysql:lookup')) -%}
{%- set config = datamap.server.config.my.config|default({}) -%}

{{- config.file_prepend|default('') -}}

{%- for comp, comp_groups in config.sections|dictsort %}
{{ '\n[' ~ comp ~ ']' }}
  {%- for group in comp_groups %}
# {{ group.name|default('no comment heeere') -}}
    {%- for gkey, gval in group|dictsort if gkey != 'name' %}
{{ gkey }} = {{ gval }}
    {%- endfor -%}{{- '\n' -}}
  {%- endfor -%}
{%- endfor -%}

{{- '\n' ~ config.file_append|default('') -}}
